.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
  margin: 0 auto;
}

.column-one-third {
  width: calc(100% / 3);
  text-align: justify;
  margin: auto 2em;
}

.image-circle {
  display: flex;
  border-radius: 100%;
  background-color: white;
  height: 120px;
  width: 120px;
  margin: auto;
}

img {
  margin: auto;
  max-height: 55%;
  max-width: 55%;
}

body {
  background-color: #33a7ff;
  font-family: Lato, sans-serif;
}

h2 {
  width: 100%;
  font-size: 220%;
  color: white;
  margin: 1.5em auto;
  text-align: center;
}

h3,
p {
  text-align: center;
  color: white;
}
