body {
  font-family: Karla, sans-serif;
}

.container {
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
  margin: auto;
}

.column-full {
  width: 100%;
  margin: 0 auto;
}

.column-half {
  display: flex;
  width: 50%;
  margin: 10 auto;
  max-height: 100%;
}

.image {
  width: 20%;
  margin: 5 auto;
  margin-right: 60px;
}

.text {
  width: 80%;
  margin-top: 45px;
}

header {
  text-align: center;
  margin: 3.2em auto;
}

h1 {
  font-size: 50px;
}

p {
  overflow: hidden;
  line-height: 28px;
}

button {
  text-align: center;
  margin: auto;
  width: 170px;
  height: 40px;
  border-style: solid;
  color: #e15551;
  background-color: white;
  border-color: #e15551;
  border-width: 2px;
  font-weight: bold;
}
